rect {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

#map svg, #map canvas {
    position: absolute;
    top: 0;
}

#tooltip {
  position: absolute;
  z-index: 2;
  text-shadow: black 1px 1px 1px;
  width: 130px;
  height: 20px;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
  top: -150px;
  left: -150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip svg {
  border-top: 0;
  margin-left: -5px;
  margin-top: 7px;
}

.country {
  stroke: #888888;
  fill: #494949;
}
.country .active{
  fill: #6ff5ab;
}

body,
#map {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  background-color: #111111;
}

.world_map {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
}

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
}

.loading_message {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.overlay{
  fill: none;
  pointer-events: all;
}

#heatmap{
  pointer-events: none;
}


/* Toolbar Styling */
.toolbar-container{
  width: 15%;
  z-index: 15;
  position: absolute;
  left: 85%;
}

.toggle-toolbar-button{
  height: 3em;
  margin: 2%;
  padding: 0px 0px 0px 0px;
  width: 5%;
  float: left;
}

.toolbar{
  width: 85%;
  height: 3em;
  float: right;
}

.tool{
  width: 25%;
  height: 100%;
  font-size: 3em;
  line-height: 1em;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}
