#tooltip {
  position: absolute;
  z-index: 2;
  text-shadow: black 1px 1px 1px;
  width: 130px;
  height: 20px;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
  top: -150px;
  left: -150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip svg {
  border-top: 0;
  margin-left: -5px;
  margin-top: 7px;
}

.country {
  stroke: #343434;
  fill: #464646;
}
.country.active{
  fill: #333333;
}

body,
#map {
  display: inline-block;
  position: relative;
  width: 100vw;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  background-color: #181719;
  margin: 0;
}

.world_map {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181719;
}


.overlay{
  fill: none;
  pointer-events: all;
}

#heatmap{
  pointer-events: none;
  position: absolute;
  top: 0;
}

#heatmap.visible{
  visibility: visible;
  opacity: 1;
  transition: opacity 3s ease-in;
}


#heatmap.hidden{
  opacity:0;
  visibility: hidden;
}

#fighterData.visible{
  visibility: visible;

}


#fighterData.hidden{
  visibility: hidden;
}