#flyoutMenu {
    width: 20vw;
    height: 100vh;
    background-color: #887BAF;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: hidden;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-20vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }
   
  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }

  .sidebar_menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-20vw, 0, 0);
    z-index: 4;
    width: 20vw;
    height: 100vh;
  }
  
  #menu_button {
    background-color: #4F628E;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #2E4172;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    background-image: url(boxing-glove.png);
    background-repeat: no-repeat;
    background-position: center;
  }
   
  #menu_button:hover {
    background-color: #4F628E;
    cursor: pointer;
    border-color: #2E4172;
    transform: scale(1.2, 1.2);
  }
   
  #menu_button:active {
    border-color: rgb(58, 74, 114);
    background-color: #FFF;
  }

  .menuContent{
    height: 100%;
  }

  .menuTab{
    min-width: 60px;
  }