@import 'global';
/* Flip functionality and containers */

.flip-container {
    perspective: 1000px;
    position: absolute;
    width: 350px;
    height: 500px;
}

.flip-container#flipped .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

.fighter-info {
    height: 500px;
    width: 350px;
    z-index: 10;
    position: relative;
    overflow: hidden;
    background-color: $primary-grey;
}

.fighter-info-image-box {
    margin: 2%;
    width: 94%;
    border-radius: 5px;
    border: 2px solid #464646
}

.fighter-info-stats {
    margin: 2%;
    width: 94%;
    height: 80%;
    border-radius: 5px;
    border: 2px solid #464646
}

.fighter-name-container-back{
    margin: 2%;
    background-color: $primary-red;
    height: 15%;

    h3{
        line-height: 3em;
    }
}


.fighter-info-content-container {
    margin: 2%;
}

#fighter-info-content{
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
}

.fighter-info-control-header {
    height: 1em;
    position: absolute;
}

.fighter-info-pointer {
    float: left;
    width: 0;
    height: 0;
    border-top: 1em solid $primary-dark-grey;
    border-right: 1em solid transparent;
}

#fighter-info-close-button {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 15;
    background-color: $primary-grey;
    padding: 0;
    border-radius: 50%;
    min-height: 48px;
    min-width: 48px;

    &:after {
        position: absolute;
        top: 15px;
        bottom: 0;
        left: 0;
        right: 0;
        content: "X";
        font-size: 24px;
        color: $primary-white;
        text-align: center;
        font-family: 'Lora';
    }
}

.fighter-weightclass-container {
    background-color: #8D99AE;
    display: flex;

    &#side {
        height: 73%;
        width: 25%;
        position: absolute;
        left: 0;
    }
    &#bottom {
        height: 15%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

#fighter-info-weightclass {
    text-align: center;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 2em;
    line-height: 2.5em;
}

@mixin fighter-name-container(){
    position: absolute;
    height: 15%;
    width: 75%;
    background-color: $primary-red;
    text-align: center;
    vertical-align: middle;
    display: -webkit-flex;
    display: flex;
    margin: auto;
}

.fighter-lastname-container {
    @include fighter-name-container();
    bottom: 0;
    right: 0;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.fighter-firstname-container {
    @include fighter-name-container();
    bottom: 12%;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.fighter-info-image {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    left: 5%;
}

#fighter-info-name {
    font-family: "Lora";
    vertical-align: middle;
    text-align: center;
    margin: auto;
}