@import 'global';

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: #181719;
  }

  .loadingPoly{
    stroke:black;
    stroke-width:0.5;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-duration: 4s;
    vector-effect: non-scaling-stroke;
    width: 100%;
    height: 20%;
  }

  #sliceOne{
    fill: $primary-black;
    animation-name: fadeInFirstImage;
  }

  #sliceTwo{
    fill: $primary-grey;
    animation-name: fadeInSecondImage;
  }

  #sliceThree{
    fill: $primary-white;
    animation-name: fadeInThirdImage;
  }

  #sliceFour{
    fill: $primary-red;
    animation-name: fadeInFourthImage;
  }

  #sliceFive{
    fill: $secondary-red;
    animation-name: fadeInFifthImage;
  }
  
  @keyframes fadeInFirstImage {
      0% {
          opacity: 0;
      }
      15% {
          opacity: 1;
      }
  }
  
  
  @keyframes fadeInSecondImage {
      0% {
          opacity: 0;
      }
      15% {
          opacity: 0;
      }
    
    30% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInThirdImage {
      0% {
          opacity: 0;
      }
      15% {
          opacity: 0;
      }
    
    30% {
      opacity: 0;
    }
    
    45% {
      opacity: 1;
    }
  }

  @keyframes fadeInFourthImage {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
  30% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
  
  60% {
    opacity: 1;
  }
}

@keyframes fadeInFifthImage {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
  30% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
  
   60% {
       opacity: 0;
   }

   75% {
       opacity: 1;
   }
}