@import 'global';

#flyout-menu {
    width: 20vw;
    height: 100vh;
    background-color: $primary-white;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: hidden;
    z-index: 1000;

    &.hide {
        transform: translate3d(-20vw, 0, 0);
      }

    &.show {
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
      }

    h2 a {
        color: #333;
        margin-left: 15px;
        text-decoration: none;
      }
    
      h2 a:hover {
        text-decoration: underline;
      }
  }
   

  .sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-20vw, 0, 0);
    z-index: 4;
    width: 20vw;
    height: 100vh;
  }
  
  #menu-button {
    background-color: #4F628E;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #2E4172;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;

    &:hover {
        background-color: #4F628E;
        cursor: pointer;
        border-color: #2E4172;
        transform: scale(1.2, 1.2);
      }

    &:active {
        border-color: rgb(58, 74, 114);
        background-color: #FFF;
      }
  }
   
  .menu-content{
    height: 100%;
  }

  .menu-tab{
    min-width: 60px;
  }

  .menu-form{
    width: 100%;

  }

  .menu-expansion-panel{
    background-color: #8D99AE;
  }

@media (min-width:320px){
    #flyout-menu{
      width: 50vw;

      &.hide{
        transform: translate3d(-50vw, 0, 0);
      }
    }

}